@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 62.5%;
	}

	html,
	body {
		@apply w-full h-full;
	}

	body {
		font-family: 'Rubik', sans-serif;
	}
}

@layer components {
	.focus-ring {
		@apply focus:outline-none focus:ring-2 focus:ring-blue-400;
	}
}
